@{
    ViewBag.Title = "AleHub - Home";
}
<div id="splash" class="jumbotron">
    <div id="filter" class="well">
        <div id="centerTitle">
            <h1>AleHub</h1>
            <p class="lead">It's what's for dinner.</p>
            <p>
                <a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a>
            </p>
        </div>
    </div>
</div>

<div class="row">

    <div id="brewerHomebox" class="col-md-4">
        <div class="col-md-12 innerbox brewers well">
            <h2>Brewers</h2>
            <p>
                <a class="brightBack" href="#">Sign up for an account</a> and use our brewery form to add a profile and beer listings to get your delcious brews out to beer lovers.
            </p>
            
        </div>
    </div>
    <div id="taproomHomebox" class="col-md-4">
        <div class="col-md-12 innerbox taprooms well">
            <h2>Tap Rooms</h2>
            <p><a class="brightBack" href="#">Sign up for an account</a> and add your business listing to the site so that beer lovers can check you out!
            </p>
           
        </div>
    </div>
    <div id="beerloverHomebox" class="col-md-4">
        <div class="col-md-12 innerbox beerlovers well">
        <h2>Beer Lovers</h2>
        <p>Find your favorite Ale (or lager for that matter) and where it is served with our AleFinder.</p>
            
            </div>
    </div>
</div>