@{
    ViewBag.Title = "AleHub - Home";
}
<div id="splash" class="jumbotron">
    <h1>AleHub</h1>
    <p class="lead">Connecting delicious beers, innovative brewers, and classy taprooms to beer lovers around the USA.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div id="brewerHomebox" class="col-md-4 well brewers">
        <h2>Brewers</h2>
        <p>
            Sign up for an account and use our brewery form to add a profile and beer listings.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div id="taproomHomebox" class="col-md-4 taprooms">
        <h2>Tap Rooms</h2>
        <p>Sign up for an account and add your business listing to the site so that beer lovers can check you out!</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div id="beerloverHomebox" class="col-md-4 beerlovers">
        <h2>Beer Lovers</h2>
        <p>Find your favorite Ale (or lager for that matter) and where it is served with our AleFinder.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>