body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: rgb(64, 64, 64);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
.field-validation-error {
    color: red;
}
.validation-summary-errors {
    color: red;
}
div #splash {
    background-image: url("https://i.imgsafe.org/3ccdd6c0fd.jpg"), url("https://i.imgsafe.org/3cda79d334.jpg");
    background-position: right, left;
    background-repeat: no-repeat;
    color: #ff9933;
}
.brewers {
    background-color: rgba(51, 207, 255, 1);
    margin-right: 5px;
}
.taprooms {
    background-color: rgba(0, 136, 178, 1);
}
.beerlovers {
    background-color: rgba(255, 166, 76, 1);
}
#beerlink {
    color: rgba(255, 166, 76, 1);
}
#taproomlink {
    color:rgba(0, 136, 178, 1);
}
#titlelink {
    color: rgba(0, 136, 178, 1);
}
#homelink {
    color: white;
}
#filter {
    background-color: rgba(0, 0, 0, .75);
    border: 1px dotted white;
}
#taproomListWell {
    padding: 0px;
}
div.navbar {
    background-color: rgba(0, 0, 0, 0.25)
}
footer {
    color: white;
}
.form-group {
    color: white;

}
.customForm {
    color: white;
}
.form {
    margin-left: 35%;
    margin-right: 0%;
}
#brewerHomebox {
    padding-right: 10px;
}
#taproomHomebox {
    padding-right: 20px;
}
#centerTitle {
    text-align: center;
}